<title>{{wp_title}}</title>
<meta charset='{{site.charset}}'>
<meta content='{{site.description}}' name='description'>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
<link href='{{site.pingback_url}}' rel='pingback'>
<!-- Favicon -->
<link href='{{site.theme.link}}/img/favicon.ico' rel='shortcut icon' type='image/x-icon'>
<link href='{{site.theme.link}}/img/favicon.ico' rel='icon' type='image/x-icon'>
<!-- CSS -->
<link href='{{site.theme.link}}/style.css' media='screen' rel='stylesheet' type='text/css'>
<!-- JS is in Functions.php -->
{{function('wp_head')}}
